* {
				box-sizing : border-box;

				margin :  0;
				padding : 0;

				overflow : hidden;
			}

			#fps {
				position : fixed;

				top :  0;
				left : 0;

				height : 50px;

				padding-top : 10px;
				padding-left : 20px;

				color : white;

				font-size : 25px;
				font-family : comic sans ms;
			}
			
			canvas {
			    top : 0px;
			    position : fixed;
          left:0px;
          background:blue;
			}
			
			#under {
			    top : 100px;
			    z-index: 100;
			    font-size : 50px;
          color:black;
          position:absolute;
          left:25%;
          font-family: 'Odibee Sans', cursive;
			}
			body {
			    overflow:hidden;
			    cursor:crosshair;
			}
      #settings {
        z-index:1000000000000000;
        left:43%;
        display:block;
        position:absolute;
        background:black;
        padding:20px;
        top:35%;
      }
      #gamemode {
        margin:auto;
        display:grid;
        margin-top: 10px;
        padding:5px 10px;
        outline:none;
      }
      #sensitivity {
        margin:auto;
        display:grid;
        margin-top: 10px;
        padding:5px 10px;
        outline:none;
        background: transparent;
        border:none;
        border-bottom:solid 1px white;
        color:white;
      }
      #yeetes {
        margin:auto;
        display:grid;
        margin-top: 10px;
        padding:5px 10px;
        outline:none;
        background: transparent;
        border:none;
        border-bottom:solid 1px white;
        color:white;
      }
      #yeetes:focus, #sensitivity:focus {
        padding:5px 15px;
      }
      #yeetes, #sensitivity {
        transition:all 1s ease;
      }
      #submit {
        margin:auto;
        display:grid;
        margin-top: 10px;
        padding:5px 10px;
        cursor: pointer;
        outline:none;
      }
